*{
    padding: 0;
    margin: 0;
}


.cuerpo{
    padding-top: 10%;
    background-color: rgba(231, 189, 71, 0.616);   
    min-height: 100vh;
}

.container{
    padding-top: 12px;
    background-color: #272727e3;
    color: white;
}
h5{
    color: white;
}

.table-hover{
    background-color: white;
}

@media(max-width: 830px ){

    
    .container{
        display: flex;
        flex-direction: column;
        padding-top: 12px;
        background-color: #272727e3;
        color: white;
    }

    .tabla{
        font-size: 60%;
        width: 60%;
    }
}